.main-card{
    border: 2px solid rgba(128, 128, 128, 0.379);
    /* width: 100%; */
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    box-sizing: border-box;
    margin: 20px;
}
.main-card * {
    font-family: inherit;
}
.card-title{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.card-title h2{
    font-size: 1.3rem;
    color: rgb(73, 73, 73);
}
.card-desc{
    display: flex;
    /* padding: 0px 0 5px 20px; */
    flex-direction: row;
    align-items: center;
}
.card-desc h2{
    font-size: 1rem;
    width: 100%;
    color: rgb(71, 68, 68);
    border-bottom: 2px solid rgba(128, 128, 128, 0.205);
    padding: 5px 10px 10px 10px;
    display: flex;
    gap: 5px;
}
.card-para{
    margin: 15px;
}